/* PAGE CONTAINER */

.container {
  margin: 0 auto;
  max-width: 1300px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER SECTION */

.topBanner {
  height: 523px;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
}

.topNavLeft {
  float: left;
  width: 270px;
  margin-left: 141px;
  margin-top: 10px;
}

.topNavLeft img {
  float: left;
  margin-right: 13px;
}

.topNavRight {
  float: right;
  width: 160px;
  margin-right: 177px;
  margin-top: -3px;
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
}

.topNavRight nav {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

.topNavRight img {
  margin-top: 24px;
  margin-left: 5px;
}

.title {
  clear: both;
  text-align: center;
  padding-top: 138px;
  font-family: 'Open Sans', sans-serif;
}

.title p:nth-child(1) {
  font-size: 6em;
  color: HSLA(0, 0%, 100%, 1.00);
  margin: 0px;
}

.title p:nth-child(2) {
  color: HSLA(204, 82%, 17%, 1.00);
  margin-top: -18px;
}

/* MAIN TEXT SECTION */

.mainText {
  border-width: 5px;
  border-style: solid;
  border-color: red;
  float: left;
  width: 615px;
  margin-left: 149px;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
  line-height: 69px;
  letter-spacing: -1.3px;
  margin-top: 59px;
  margin-bottom: 0px;
}

.author {
  padding-bottom: 50px;
}

.author img, .author p {
  float: left;
}

.author img {
  width: 22px;
  margin-top: 7px;
  margin-left: 3px;
}

.author p {
  margin-left: 9px;
  font-size: 13px;
}

.author p:last-child {
  margin-left: 16px;
}

.author p:last-child span {
  margin-left: 5px;
  letter-spacing: 0.5px;
  text-decoration: underline;
}

.content {
  clear: both;
}

.content p {
  font-size: 16px;
  line-height: 28px;
}

blockquote {
  font-size: 26px;
  border-left: 2px solid black;
  padding-left: 18px;
  padding-top: 15px;
  padding-bottom: 9px;
  margin-left: 6px;
  margin-top: 0px;
  letter-spacing: -0.4px;
}

.buttons ul {
  margin-left: -36px;
}

.buttons ul li {
  float: left;
  margin-right: 11px;
  margin-top: -8px;
  font-size: 13px;
  list-style-type: none;
  background-color: gray;
  color: white;
}

.buttons img {
  background-color: red;
  height: 17px;
  padding: 7px;
  vertical-align: middle;
}

.buttons span {
  margin: 13px;
}


/* SIDEBAR SECTION */

.sidebar {
  border-width: 5px;
  border-style: solid;
  border-color: red;
  float: right;
  width: 280px;
  margin-right: 163px;
}

.contact {
  margin-top: 79px;
  text-align: center;
}

.contact span {
  display: block;
  text-transform: uppercase;
  font-size: 17px;
  margin-top: 4px;
}

.contact a {
  font-size: 12px;
}

.contact a:nth-child(4) {
  margin-right: 15px;
  margin-left: 15px;
}

.ad img {
  display: block;
  margin-top: 50px;
}

.ad a {
  float: right;
  font-size: 13px;
  margin-right: 3px;
  margin-top: 4px;
  text-decoration: underline;
}

.sideText {
  clear: both;
  padding-top: 44px;
  letter-spacing: -1px;
}

.sideText span {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.sideText p {
  margin-top: 5px;
}

/* FOOTER SECTION */

.mainFooter {
  clear: both;
}

h4 {
  text-align: center;
}

.footerImages {
  float: left;
}

.footerImages img {
  margin-right: -4px;
}
